{% extends "base.html" %} {% load static %} {% block pageHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/card_list.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

{% endblock pageHeader%}
{% block pageContent %}
    
    <div class="title-container">
        <h2 class="display-4 text-center">Available Favors</h2>
    </div>
    <div class="md-form mt-0">
        <form action="" method="get" id="search_form">
            <input 
                class="form-control search_bar" 
                id="search_input"
                name="q" 
                type="text" 
                placeholder="Search..." 
                value={{ search_term }}
                >
            <small id="textHelpBlock" class="form-text text-muted text-center">
                Filter listing of favors by name and descriprion. Listings are filtered as you type. 
            </small>
            {% comment %} <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> {% endcomment %}
        </form>
    </div>
    <div class="general-card-container">
        <div class="my-card-list">
            {% for card in cards %}
                <div class="my-card card-row-separator">
                    <h5 class="my-card-title">{{ card.title }}</h5>
                    <p class="num-favors">Cost: {{ card.number_of_favors }} favor(s)</p>
                    <p class="my-card-desc">{{ card.description }}</p>
                    <div class="flex-start" style="width: 90%;">
                        <div class="icons-container" style="width: 70%;">
                            <div class="icon-text-container flex-start" style="width: 60%;">
                                <i class="material-icons icon-for-text">account_box</i>
                                <p class="medium-text ellipses-no-wrap">{{ card.owner }}</p>
                            </div>
                            <div class="icon-text-container flex-start" style="width: 100%;">
                                <i class="material-icons icon-for-text">location_on</i>
                                <p class="medium-text ellipses-no-wrap">{{ card.location }}</p>
                            </div>
                            <div class="icon-text-container flex-start" style="width: 100%;">
                                <i class="material-icons icon-for-text">date_range</i>
                                <p class="medium-text ellipses-no-wrap">{{ card.date }}</p>
                            </div>
                        </div>
                        <form action="" method="POST" class="right-align-margin"> {% csrf_token %} 
                            <input type='hidden' value='{{card.id}}' name='card_id'>
                            {% if current_user in card.pendingUsers.all %}
                                <button
                                    class="btn secondary-background white signup-button disabled btn-warning"
                                    value="{{card.id}}"
                                    type="submit"
                                    disabled
                                >
                                    Pending <i class="fas fa-user-clock"></i>
                                </button>
                            {% elif current_user in card.pendingUsers.all %}
                                <button
                                    class="btn secondary-background white signup-button disabled btn-success"
                                    value="{{card.id}}"
                                    type="submit"
                                    disabled
                                >
                                    Confirmed <i class="fas fa-check"></i>
                                </button>
                            {% else %} 
                                <button
                                    class="btn secondary-background white signup-button"
                                    value="{{card.id}}"
                                    type="submit"
                                >
                                    Sign Up
                                </button>
                            {% endif %} 
                        </form>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-warning text-center" role="alert">
                    No favors exist or match your search.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock pageContent %}
{% block pageScripts %}
<script>
    $(document).ready(
        function(){
            input = $("#search_input")
            input.focus();
            var tmpStr = input.val();
            input.val('');
            input.val(tmpStr);
            timeout = null;
            $("#search_input").on("keydown", function() {
                var value = $(this).val().toLowerCase();
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    $('form#search_form').submit();
                }, 500);
            });
        }
        
    );
    $('.signup-button').on('click',function() {
        var $formId = $(this).parents('form');
        $(this).prop("disabled",true);
        this.innerHTML = `Pending <i class="fas fa-check"></i>`;
        $(this).addClass("disabled btn-success");
        $formId.trigger('submit');
    });
</script>
{% endblock pageScripts %}