{% extends "base.html" %}
{% load static %}
{% block pageHeader %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock pageHeader%}
{% block pageContent %}
    <div class="page">
        
    </div>
    <footer class="footer-position">
        Project made possible with 
        <a class="medium-text" href="https://hack4impact.org//">hack4impact</a>
    </footer>
{% endblock pageContent%}