{% load static %}
{% block pageHeader %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock pageHeader%}

{% block pageContent %}
<body class="text-center center-main">
   <h1 class="main-text"></h1>
   <img  src="{% static 'img/favor.png' %}"height="120px">
   <p class="secondary-text">Helping each other help each other.</p>
   <a class="btn big-btn btn-primary" href="/login/">Get Started</a>
</body>
{% endblock pageContent%}