{% extends "base.html" %} {% load static %} {% block pageHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock pageHeader%}
{% block pageContent %}
    <div class="text-center center-main">
        <h2 class="display-4 text-center">My Account</h2>
        <div class="flex full-width">
            <h3>{{ user.username }}</h3>
            <h5 class="right-align-margin">Favors: {{ profile.number_of_favors }}</h5>
        </div>
        <br>
         <h2 class="display-5 text-center">Favors I'm Offering</h2>
         <table class="table table-striped table-bordered table-hover">
            <thead class="custom">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Location</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Requesters<br><span style="font-size: 0.9em; font-weight: normal;">Pending (*)</span></th>
                </tr>
            </thead>
            <tbody>
                {% for f in ownedFavors %}
                    <tr>
                        <td class="title">{{ f.title }}</td>
                        <td class="desc">{{ f.description }}</td>
                        <td class="number-of-favors">{{ f.number_of_favors }} favors</td>
                        <td class="location">{{ f.location }}</td>
                        <td class="actions">
                            <a class="btn btn-success" href="/edit/{{ f.id }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="/delete/{{ f.id }}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td class="requesters">
                            <div class="d-flex justify-content-center">
                                {% if f.pendingUsers.all or f.confirmedUsers.all %}
                                    <button id="pending-user-{{ f.id }}" class="btn btn-info align-middle">
                                        <i class="fas fa-eye">
                                            {% if f.pendingUsers.all %}
                                                <span style="position: absolute; font-size: 1.3em; margin-left: 2px; width: 0px; height: 0px;"> *</span>
                                            {% endif %}
                                        </i>
                                    </button>
                                {% else %}
                                    <i>N/A</i>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <div id="pending-user-modal-{{ f.id }}" class="modal fade" 
                        tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Pending Users</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% if f.pendingUsers.all %}
                                        {% for u in f.pendingUsers.all %}
                                            <div class="flex">
                                                <p>{{ u.username }}</p>
                                                <div class="flex right-align-margin">
                                                    <form 
                                                        action="/process-pending-user-change/"
                                                        method="POST"
                                                        class="right-align-margin"
                                                    > {% csrf_token %} 
                                                        <input type='hidden' value='{{f.id}}' name='favor_id'>
                                                        <input type='hidden' value='DENY' name='action' />
                                                        <input type='hidden' value='{{u.id}}' name='user_id' />
                                                        <button id="deny-{{u.id}}-{{f.id}}" class="btn" type="submit">
                                                            <i class='fas fa-times red pending-user-modal-icons'></i>
                                                        </button>
                                                    </form>
                                                    <form 
                                                        action="/process-pending-user-change/"
                                                        method="POST"
                                                        class="right-align-margin"
                                                    > {% csrf_token %} 
                                                        <input type='hidden' value='{{f.id}}' name='favor_id'>
                                                        <input type='hidden' value='ACCEPT' name='action' />
                                                        <input type='hidden' value='{{u.id}}' name='user_id' />
                                                        <button id="accept-{{u.id}}-{{f.id}}" class="btn" type="submit">
                                                            <i class='fas fa-check green pending-user-modal-icons'></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        No pending users for this favor
                                    {% endif %}
                                </div>
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmed Users</h5>
                                </div>
                                <div class="modal-body">
                                {% if f.confirmedUsers.all %}
                                    {% for u in f.confirmedUsers.all %}
                                        <div class="flex">
                                            <p>{{ u.username }}</p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    No confirmed users for this favor
                                {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                <tr><td class="empty-message alert-primary" colspan="6">
                    <h6><i>You are not currently the owner of any favors</i></h6>
                </td></tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button-holder custom-margins">
            <a href="/add-favor/"><button class="btn wide-btn-2 btn-primary">Add New Favor</button></a>
        </div>
        <h2 class="display-5 text-center">Requested Favors</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead class="custom">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr><td class="empty-message" colspan="6"><h4>Pending Requests</h4></td></tr>
                {% for f in pendingFavors %}
                    <tr>
                        <td class="title">{{ f.title }}</td>
                        <td class="desc">{{ f.description }}</td>
                        <td class="number-of-favors">{{ f.number_of_favors }} favors</td>
                        <td class="location">{{ f.location }}</td>
                        <td class="status alert-warning"><i>Pending</i></td>
                    </tr>
                {% endfor %}
                {% if not pendingFavors %}
                    <tr><td class="empty-message alert-primary" colspan="6">
                        <h6><i>You have no pending favors</i></h5>
                    </td></tr>
                {% endif %}
                <tr><td class="empty-message" colspan="6"><h4>Confirmed Requests</h4></td></tr>
                {% for f in confirmedFavors %}
                    <tr>
                        <td class="title">{{ f.title }}</td>
                        <td class="desc">{{ f.description }}</td>
                        <td class="number-of-favors">{{ f.number_of_favors }} favors</td>
                        <td class="location">{{ f.location }}</td>
                        <td class="status alert-success"><em>Confirmed</em></td>
                    </tr>
                {% endfor %}
                {% if not confirmedFavors %}
                    <tr><td class="empty-message alert-primary" colspan="6">
                        <h6><i>You have no confirmed favors</i></h6>
                    </td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock pageContent %}
{% block pageScripts %}
<script>
    $(document).ready(() => {
        $('td > div > button').on('click', function () {
            const favorId = $(this).attr("id").split("-")[2];
            $(`#pending-user-modal-${favorId}`).modal('show');
        });
        if ('{{ show_modal }}' === "yes") {
            $(`#pending-user-modal-{{ favor_id }}`).modal('show');
        }
    });
</script>
{% endblock pageScripts %}