{% extends "base.html" %} {% load static %} 
{% block pageHeader %}
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />
{% endblock pageHeader%}
{% block pageContent %}
    <div id="test">
        <div class="my-card-list">
            {% for card in cards %}
            <div class="my-card">
                <h4 class="my-card-title">
                    {{ card.title }}
                </h4>
                <p class="my-card-desc">
                    {{ card.description }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/test.js' %}"></script>
{% endblock pageContent %}