:root {
    --card-list-size: 80%;
    --grid-column-gap: 2%;
}

.general-card-container {
    width: var(--card-list-size);
}

.my-card-list > a {
    color: inherit;
}

.my-card-list > a:hover {
    color: inherit;
    text-decoration: none;
}

.title-container {
    text-align: center;
}

.card-row-separator {
    margin-bottom: 5%;
}

.my-card-list {
    width: 100%;
    height: 100%;
    display: block;
    column-gap: var(--grid-column-gap);
}

.my-card-list-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-shadow: 0 4px 2px rgba(0, 0, 0, .15);
    text-decoration: underline;
}