.my-card {
    position: relative;
    padding: 2% 2%;
    border: 1px solid #888888;
    border-radius: 4px;
    break-inside: avoid;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;     
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 
        0px 1px 1px 0px rgba(0,0,0,0.14), 
        0px 1px 3px 0px rgba(0,0,0,0.12);
}

.my-card-title {
    width: 100%;
    padding-bottom: 2px;
    color: var(--secondary-color);
    border-bottom: 2px solid black;
}

.my-card-desc {
    font-size: 0.9em;
    margin-bottom: 2%;
}

.num-favors {
    font-size: 1em;
    margin-bottom: 2%;
}

.small-text {
    font-size: 13px;
}

.medium-text {
    font-size: 15px;
}

.icons-container {
    overflow: hidden;
}

.icon-for-text {
    margin-right: 2%;
}