:root {
    --title-color: rgba(128, 0, 255, 0.4);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.lowercase {
    text-transform: lowercase;
}

.nav-buttons {
    margin-left: 25%;
    width: 60%;
}

.nav-buttons > a {
    color: black;
    padding: 10px 30px;
    margin: 1% 5%;
    white-space: nowrap;
    border: 2px solid black;
}

.nav-buttons > a:hover {
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.right-nav {
    position: absolute;
    right: 0;
    width: 25%;
}

#avatar {
    padding: 10px;
    margin-right: 20%;
}

.large-icon {
    transform: scale(1.7);
}

.circle {
    border: 3px solid black;
    border-radius: 50%;
}

#nav-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: var(--title-color);
    transform: scale(5);
    letter-spacing: -1px;
    position: absolute;
    left: 5%;
}

#nav-title:hover, #nav-title:active, #nav-title:link, #nav-title:visited {
    color: var(--title-color);
    text-decoration: none;
}

.page {
    width: 100%;
    height: 100%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.footer-position {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;            /* Footer height */
}
