:root {
    --primary-color: rgba(128, 0, 255, 0.4);
    --secondary-color: rgb(104, 58, 146);
}

p {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.flex-start {
    display: flex;
    justify-content: left;
    align-items: center;
}

.lowercase {
    text-transform: lowercase;
}

.nav-buttons {
    /* margin-left: 25%;
    width: 60%; */
    margin-right: 25px;
}

.nav-buttons > a {
    color: white;
    padding: 10px 30px;
    margin-right: 50px;
    white-space: nowrap;
    border: 2px solid white;
}

.nav-buttons > a:hover {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

/* .right-nav {
    position: absolute;
    right: 0;
    width: 15%;
}
*/
#avatar {
    padding: 3px;
    background-color: white;
    color: white;
}

.large-icon {
    transform: scale(1.7);
}

.circle {
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    color: black;
    background-color: black;
}

.popover-body {
    padding: 0 !important;
    padding-top: 5%;
}

.popover-header {
    font-size: 1em;
    text-align: center;
}

.arrow {
    transform: scale(1.4) translateX(0px);
}

.popover-body > a {
    display: block;
    width: 7vw;
    padding: 4% 0;
    color: black;
    text-decoration: none;
    text-align: center;
}

.popover-body > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
}

#nav-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: var(--primary-color);
    transform: scale(5);
    letter-spacing: -1px;
    position: absolute;
    left: 5%;
}

#nav-title:hover, #nav-title:active, #nav-title:link, #nav-title:visited {
    color: var(--primary-color);
    text-decoration: none;
}

.page {
    width: 100%;
    height: 100%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.white {
    color: white;
}

.white:hover {
    color: white;
}

.white:disabled {
    opacity: 0.4;
}

.white:hover:enabled {
    transform: scale(1.02);
}

.primary-background {
    background-color: var(--primary-color);
}

.secondary-background {
    background-color: var(--secondary-color);
}

.right-align-margin {
    margin-left: auto;
}

.full-width {
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

.ellipses-no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-margin {
    margin: 0;
}

.footer-position {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
}